body {
	font-family:sans-serif;
	color:#FFFFFF;
}

.navbar {
	background-color:#FFFFFF;
	opacity:0.85;
}

.nav-distance {
	margin: 0;
	padding: 2.1%, 7.7%;
}

.navbar-light .navbar-brand {
	font-family:NanumSquareR;
	color:#35465D;
	font-size:0.875rem;
}

.navbar-light .navbar-toggler {
	border-color:#FFFFFF;
}

.nav-link {
	font-family:NanumSquareR;
	font-size:0.875rem;
}

.section {
	margin-top: 100px;
	margin-bottom: 24px;
}

.title {
	font-family:NanumSquareR;
	color:#35465D;
	text-align:center;
	font-size:1.5rem;
}

.subtitle {
	font-family:NanumSquareR;
	color:#35465D;
	text-align:center;
	font-size:0.875rem;
}

section p {
	font-family:NanumSquareR;
	color:#35465D;
	text-align: justify;
	text-justify: inter-word;
	font-size:0.875rem;
	padding:2.1% 7.7%;
}

.account {
	margin-top: 50px;
}

.maincontent {
	margin-top:50px;
}

.tablestyle tr {
	text-align:center;
}

.tablestyle th, td {
	background-color:#FFFFFF;
	border-color:#FFFFFF;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
  border: 0
}


.text-center {
	font-family:NanumSquareR;
	color:#35465D;
	font-size:0.875rem;
}

.buttonCenter{
	text-align:center;
}


.resetbtn {
	background-color:#FFFFFF;
	padding:7px;
	border-color:#35465D;
	border-radius:25px;
	margin-top:24px;
	border-width:2px;
}
.resetbtn:hover {
	background-color:#222222;
	color:#F08080;
	border-color:#111111;
}

.addthis_inline_share_toolbox_d01q {
	text-align:center;
	margin-top:25px;
}

.ad-banner {
	width:320px;
	margin: 12px auto;
}


.footer div{
	/* position:absolute */
	bottom: 0;
	font-family:NanumSquareR;
	color:#35465D;
	font-size:0.5rem;
	text-align:center;
}